---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Oppikirjasto - kaikille oppilaille',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
    <h1>Tervetuloa Oppikirjastoon!</h1>

    <p>
      Oppikirjasto.fi on uusi, avoin, maksuton ja kattava digitaalinen oppimateriaalikirjasto yläkoulun oppilaille Suomessa. Tekoälyn avulla generoidut oppikirjat kattavat koko yläasteen opetussuunnitelman kaikissa aineissa. Tavoitteemme on tarjota kaikille Suomen koululaisille parhaimmat mahdolliset opetusmateriaalit ja näin tehdä oppimisesta tasavertaisempaa.
    </p>

    <h2>Miten voit osallistua?</h2>
    
    <p>
      Etsimme opettajia, opiskelijoita ja kaikkia opetuksesta kiinnostuneita osallistumaan yhteisön rakentamiseen ja avoimien oppimateriaalien kehittämiseen. Voit auttaa monin eri tavoin:
    </p>

    <h3>1. Kirjojen tarkistus ja laadun parantaminen</h3>
    <ul>
      <li>Anna palautetta: Lue oppikirjojamme ja anna palautetta mahdollisista virheistä tai parannuskohteista.</li>
      <li>Ehdota muutoksia: Voit ehdottaa muutoksia ja parannuksia suoraan Github-repositorioon osoitteessa <a href="https://github.com/taturl/oppikirjasto">github.com/taturl/oppikirjasto</a></li>
    </ul>
    
    <h3>2. Sisällöntuotanto ja päivitys</h3>
    <ul>
      <li>Kirjoita uusia lukuja: Voit kirjoittaa uusia lukuja tai osioita oppikirjoihin.</li>
      <li>Päivitä olemassa olevia: Päivitä ja laajenna jo olemassa olevaa sisältöä.</li>
    </ul>
    
    <h3>3. Käytännön apu</h3>
    <ul>
      <li>Tekninen tuki: Osallistu tekniseen kehitykseen ja paranna sivuston käytettävyyttä.</li>
      <li>Markkinointi ja viestintä: Levitä sanaa projektistamme ja tuo lisää osallistujia mukaan.</li>
    </ul>
    
    <h3>Miten aloittaa?</h3>
    <ol>
      <li>Luo käyttäjätili GihHub-palveluun, jotta voit osallistua keskusteluun ja seuraamaan projektin edistymistä.</li>
      <li>Tutustu ohjeisiin: Lue projektin ohjeet ja säännöt, jotka löydät myös Githubista.</li>
      <li>Aloita osallistuminen: Valitse sinua kiinnostava osa-alue ja ala osallistumaan.</li>
    </ol>
    
    <p>
      Tehdään yhdessä oppimisesta parempaa ja tasavertaisempaa kaikille Suomen koululaisille. Liity projektiimme ja osallistu uuden, avoimen ja ilmaisen oppikirjaston rakentamiseen!
    </p>

    <p>
      Tämä sivusto ja sen sisältö on avointa koodia MIT-lisenssillä.
    </p>
    
    </div>
  </section>
</Layout>
