---
import Layout from '~/layouts/PageLayout.astro';
import MarkdownLayout from './MarkdownLayout.astro';
import type { MetaData } from '~/types';

const { frontmatter } = Astro.props;

const { Content } = await frontmatter.render();

const metadata: MetaData = {
  title: frontmatter?.title,
};
---

<Layout metadata={metadata}>
  <div class="haccordion__wrapper">
    <div class="first_column">
      <MarkdownLayout frontmatter={frontmatter}>
        <Content />
      </MarkdownLayout>
    </div>
  </div>
</Layout>

<style is:global>
  .haccordion__wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .first_column {
    flex-basis: 90%;
  }
</style>
